/absolute-header.m4
/alloca.m4
/assert_h.m4
/errno_h.m4
/exponentd.m4
/float_h.m4
/free.m4
/gnulib-comp.m4
/intmax_t.m4
/inttypes.m4
/inttypes_h.m4
/limits-h.m4
/math_h.m4
/memchr.m4
/mmap-anon.m4
/multiarch.m4
/pid_t.m4
/printf.m4
/size_max.m4
/stdint.m4
/stdint_h.m4
/stdio_h.m4
/stdlib_h.m4
/string_h.m4
/vararrays.m4
/vasnprintf.m4
/vasprintf.m4
/wchar_h.m4
/wint_t.m4
/xsize.m4
/zzgnulib.m4
