* text=auto !eol
/AUTHORS -text
/THANKS -text
doc/4ti2_manual.bib -text
doc/4ti2_manual_api.tex -text
doc/4ti2_manual_ref.tex -text
doc/Makefile.am -text
doc/deloera-hemmecke-koeppe-book.tex -text
doc/deloera-hemmecke-koeppe-cover.jpg -text
doc/feasible.pdf svneol=native#unset
doc/feasible_LP.pdf svneol=native#unset
doc/magicsqs.pdf svneol=native#unset
doc/magicsqs_ray.pdf svneol=native#unset
doc/solved_IP.pdf svneol=native#unset
doc/solved_LP.pdf svneol=native#unset
lib/Makefile.am -text
lib/getopt.c -text
lib/getopt.in.h -text
lib/getopt1.c -text
lib/getopt_int.h -text
lib/gettext.h -text
lib/stddef.in.h -text
lib/sys_types.in.h -text
lib/unistd.c -text
lib/unistd.in.h -text
m4/00gnulib.m4 -text
m4/ax_check_compile_flag.m4 -text
m4/extensions.m4 -text
m4/extern-inline.m4 -text
m4/getopt.m4 -text
m4/gnulib-cache.m4 -text
m4/gnulib-common.m4 -text
m4/gnulib-comp.m4 -text
m4/gnulib-tool.m4 -text
m4/include_next.m4 -text
m4/nocrash.m4 -text
m4/off_t.m4 -text
m4/onceonly.m4 -text
m4/ssize_t.m4 -text
m4/stddef_h.m4 -text
m4/sys_types_h.m4 -text
m4/unistd_h.m4 -text
m4/warn-on-use.m4 -text
m4/wchar_t.m4 -text
snippet/arg-nonnull.h -text
snippet/c++defs.h -text
snippet/warn-on-use.h -text
src/groebner/script.template.in -text
src/qsolve/CircuitsAPI.cpp -text
src/qsolve/MatrixAPI.h -text
src/qsolve/MatrixAPI.hpp -text
src/qsolve/MatrixWrapper.h -text
src/qsolve/MatrixWrapper.hpp -text
src/qsolve/MultiTree.h -text
src/qsolve/MultiTree.hpp -text
src/qsolve/QSolveAPI.cpp -text
src/qsolve/QSolveConsOrder.cpp -text
src/qsolve/RayAlgorithmAPI.cpp -text
src/qsolve/RayState.h -text
src/qsolve/RayState.hpp -text
src/qsolve/RaysAPI.cpp -text
test/circuits/ppi3.cir.chk -text
test/circuits/ppi3.mat -text
test/circuits/ppi3.qfree.chk -text
test/genmodel/3x4x6.mat.chk -text
test/genmodel/3x4x6.mod -text
test/genmodel/3x6.mat.chk -text
test/genmodel/3x6.mod -text
test/genmodel/k2_3.mat.chk -text
test/genmodel/k2_3.mod -text
test/graver/ppi3.gra.chk -text
test/graver/ppi3.mat -text
test/groebner/4coins.cost -text
test/groebner/4coins.gro.chk -text
test/groebner/4coins.mat -text
test/groebner/4coins.sign -text
test/hilbert/33.hil.chk -text
test/hilbert/33.mat -text
test/hilbert/33.rel -text
test/hilbert/33.sign -text
test/hilbert/33.zfree.chk -text
test/hilbert/a1.hil.chk -text
test/hilbert/a1.mat -text
test/hilbert/a1.rel -text
test/hilbert/a1.sign -text
test/hilbert/m33.hil.chk -text
test/hilbert/m33.mat -text
test/hilbert/m33.rel -text
test/hilbert/m33.sign -text
test/hilbert/non-pointed-2.hil.chk -text
test/hilbert/non-pointed-2.mat -text
test/hilbert/non-pointed-2.sign -text
test/hilbert/non-pointed-2.zfree.chk -text
test/hilbert/non-pointed.hil.chk -text
test/hilbert/non-pointed.mat -text
test/hilbert/non-pointed.sign -text
test/hilbert/non-pointed.zfree.chk -text
test/hilbert/reduce_gaussian-fedora-bug-911437.hil.chk -text
test/hilbert/reduce_gaussian-fedora-bug-911437.lat -text
test/hilbert/zero-rows.hil.dont-chk -text
test/hilbert/zero-rows.mat -text
test/hilbert/zero-rows.sign -text
test/hilbert/zero-rows.zfree.dont-chk -text
test/markov/4x4.mar.chk -text
test/markov/4x4.mat -text
test/minimize/4coins.cost -text
test/minimize/4coins.mat -text
test/minimize/4coins.min.chk -text
test/minimize/4coins.sign -text
test/minimize/4coins.zsol -text
test/normalform/4coins.cost -text
test/normalform/4coins.feas -text
test/normalform/4coins.gro -text
test/normalform/4coins.mat -text
test/normalform/4coins.nf.chk -text
test/rays/33.r -text
test/rays/33.r.ray.chk -text
test/rays/33.r.sign -text
test/rays/44.r.mat -text
test/rays/44.r.ray.chk -text
test/rays/44.r.sign -text
test/rays/55.r -text
test/rays/55.r.ray.chk -text
test/rays/55.r.sign -text
test/rays/ex -text
test/rays/ex.ray.chk -text
test/rays/ex.rel -text
test/rays/ex.sign -text
test/rays/ppp.r -text
test/rays/ppp.r.qfree.chk -text
test/rays/ppp.r.ray.chk -text
test/rays/ppp.r.sign -text
test/rays/small -text
test/rays/small.ray.chk -text
test/rays/small.rel -text
test/rays/small.sign -text
test/rays/subspace -text
test/rays/subspace.qfree.chk -text
test/rays/subspace.ray.chk -text
test/rays/subspace.sign -text
test/rays/subspace2 -text
test/rays/subspace2.qfree.chk -text
test/rays/subspace2.ray.chk -text
test/rays/subspace2.sign -text
test/zsolve/affine.lat -text
test/zsolve/affine.sign -text
test/zsolve/affine.zhom.chk -text
test/zsolve/affine.zinhom.chk -text
test/zsolve/dutour-testcase-2013-08-21.mat -text
test/zsolve/dutour-testcase-2013-08-21.rel -text
test/zsolve/dutour-testcase-2013-08-21.rhs -text
test/zsolve/dutour-testcase-2013-08-21.sign -text
test/zsolve/dutour-testcase-2013-08-21.zhom.chk -text
test/zsolve/dutour-testcase-2013-08-21.zinhom.chk -text
test/zsolve/non-pointed-2.mat -text
test/zsolve/non-pointed-2.sign -text
test/zsolve/non-pointed-2.zhom.chk -text
test/zsolve/non-pointed.mat -text
test/zsolve/non-pointed.sign -text
test/zsolve/non-pointed.zfree.chk -text
test/zsolve/non-pointed.zhom.chk -text
test/zsolve/system.mat -text
test/zsolve/system.rel -text
test/zsolve/system.rhs -text
test/zsolve/system.sign -text
test/zsolve/system.zhom.chk -text
test/zsolve/system.zinhom.chk -text
test/zsolve/zero-rows.mat -text
test/zsolve/zero-rows.sign -text
test/zsolve/zero-rows.zfree.dont-chk -text
test/zsolve/zero-rows.zhom.dont-chk -text
