* text=auto !eol
doc/feasible.pdf svneol=native#unset
doc/feasible_LP.pdf svneol=native#unset
doc/magicsqs.pdf svneol=native#unset
doc/magicsqs_ray.pdf svneol=native#unset
doc/solved_IP.pdf svneol=native#unset
doc/solved_LP.pdf svneol=native#unset
src/qsolve/qsolve -text
