* text=auto !eol
doc/feasible.pdf svneol=native#unset
doc/feasible_LP.pdf svneol=native#unset
doc/magicsqs.pdf svneol=native#unset
doc/magicsqs_ray.pdf svneol=native#unset
doc/solved_IP.pdf svneol=native#unset
doc/solved_LP.pdf svneol=native#unset
lib/Makefile.am -text
lib/Makefile.in -text
lib/getopt.c -text
lib/getopt.in.h -text
lib/getopt1.c -text
lib/getopt_int.h -text
lib/gettext.h -text
lib/stddef.in.h -text
lib/sys_types.in.h -text
lib/unistd.c -text
lib/unistd.in.h -text
m4/00gnulib.m4 -text
m4/ax_check_compile_flag.m4 -text
m4/extensions.m4 -text
m4/extern-inline.m4 -text
m4/getopt.m4 -text
m4/gnulib-cache.m4 -text
m4/gnulib-common.m4 -text
m4/gnulib-comp.m4 -text
m4/gnulib-tool.m4 -text
m4/include_next.m4 -text
m4/nocrash.m4 -text
m4/off_t.m4 -text
m4/onceonly.m4 -text
m4/ssize_t.m4 -text
m4/stddef_h.m4 -text
m4/sys_types_h.m4 -text
m4/unistd_h.m4 -text
m4/warn-on-use.m4 -text
m4/wchar_t.m4 -text
snippet/arg-nonnull.h -text
snippet/c++defs.h -text
snippet/warn-on-use.h -text
src/groebner/script.template.in -text
src/qsolve/CircuitsAPI.cpp -text
src/qsolve/MatrixAPI.h -text
src/qsolve/MatrixAPI.hpp -text
src/qsolve/MatrixWrapper.h -text
src/qsolve/MatrixWrapper.hpp -text
src/qsolve/MultiTree.h -text
src/qsolve/MultiTree.hpp -text
src/qsolve/QSolveAPI.cpp -text
src/qsolve/QSolveConsOrder.cpp -text
src/qsolve/RayAlgorithmAPI.cpp -text
src/qsolve/RayState.h -text
src/qsolve/RayState.hpp -text
src/qsolve/RaysAPI.cpp -text
