/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bin
/config.log
/config.status
/configure
/depcomp
/install-sh
/libtool
m4/Makefile
m4/Makefile.in
/missing
/obj
src/4ti2/Makefile.in
src/Makefile
src/Makefile.in
src/config.h.in
src/groebner/*.lo
src/groebner/.deps
src/groebner/.libs
src/groebner/4ti2gmp
src/groebner/4ti2int32
src/groebner/4ti2int64
src/groebner/Makefile
src/groebner/Makefile.in
src/groebner/Makefile.inc
src/groebner/lib4ti2gmp.la
src/groebner/lib4ti2int32.la
src/groebner/lib4ti2int64.la
src/ppi/.deps
src/ppi/.libs
src/ppi/Makefile
src/ppi/Makefile.in
src/ppi/Makefile.inc
src/ppi/ppi
src/util/.deps
src/util/.libs
src/util/Makefile.in
src/util/Makefile.inc
src/util/genmodel
src/util/genmodel_main.c
src/util/gensymm
src/util/gensymm_main.c
src/util/output
src/util/output_main.c
src/zsolve/*.lo
src/zsolve/.deps
src/zsolve/.libs
src/zsolve/Makefile
src/zsolve/Makefile.in
src/zsolve/graver
src/zsolve/hilbert
src/zsolve/libzsolve.la
src/zsolve/zsolve
swig/Makefile.in
swig/aclocal.m4
swig/allegrocommonlisp/Makefile.in
swig/autom4te.cache
swig/configure
test/Makefile.in
test/circuits/Makefile.in
test/genmodel/Makefile.in
test/gensymm/Makefile.in
test/graver/Makefile.in
test/groebner/Makefile.in
test/groebner/gmp/Makefile.in
test/hilbert/Makefile.in
test/markov/Makefile.in
test/markov/gmp/Makefile.in
test/markov/maxmin/.num_failures
test/markov/maxmin/Makefile
test/markov/maxmin/Makefile.in
test/markov/saturation/Makefile.in
test/minimize/Makefile.in
test/normalform/Makefile.in
test/output/Makefile.in
test/output/binomials/Makefile.in
test/output/maple/Makefile.in
test/output/positive/Makefile.in
test/ppi/Makefile.in
test/ppi/ppi10.gra.srt
test/ppi/ppi10.gra.srt.chk
test/ppi/ppi10.mat
test/ppi/ppi16.gra.srt
test/ppi/ppi16.gra.srt.chk
test/ppi/ppi16.mat
test/ppi/ppi5.gra.srt
test/ppi/ppi5.gra.srt.chk
test/ppi/ppi5.mat
test/qsolve/Makefile.in
test/qsolve/api/Makefile.in
test/qsolve/gmp/Makefile.in
test/rays/Makefile.in
test/walk/Makefile.in
test/zbasis/Makefile.in
test/zsolve/Makefile.in
