m4/Makefile
m4/Makefile.in
src/groebner/*.lo
src/groebner/.deps
src/groebner/.libs
src/groebner/4ti2gmp
src/groebner/4ti2int32
src/groebner/4ti2int64
src/groebner/Makefile
src/groebner/Makefile.in
src/groebner/Makefile.inc
src/groebner/circuits
src/groebner/groebner
src/groebner/lib4ti2gmp.la
src/groebner/lib4ti2int32.la
src/groebner/lib4ti2int64.la
src/groebner/markov
src/groebner/minimize
src/groebner/normalform
src/groebner/qsolve
src/groebner/rays
src/groebner/walk
src/groebner/zbasis
src/ppi/.deps
src/ppi/.libs
src/ppi/Makefile
src/ppi/Makefile.in
src/ppi/Makefile.inc
src/ppi/ppi
src/util/.deps
src/util/.libs
src/util/Makefile
src/util/Makefile.in
src/util/Makefile.inc
src/util/genmodel
src/util/genmodel_main.c
src/util/gensymm
src/util/gensymm_main.c
src/util/output
src/util/output_main.c
src/zsolve/*.lo
src/zsolve/.deps
src/zsolve/.libs
src/zsolve/Makefile
src/zsolve/Makefile.in
src/zsolve/graver
src/zsolve/hilbert
src/zsolve/libzsolve.la
src/zsolve/zsolve
test/Makefile
test/Makefile.in
test/check.template
test/circuits/Makefile
test/circuits/Makefile.in
test/flavorsum
test/genmodel/Makefile
test/genmodel/Makefile.in
test/gensymm/.num_failures
test/gensymm/Makefile
test/gensymm/Makefile.in
test/graver/.num_failures
test/graver/Makefile
test/graver/Makefile.in
test/groebner/Makefile
test/groebner/Makefile.in
test/groebner/checkdir-fifo
test/groebner/gmp/.num_failures
test/groebner/gmp/.num_failures-fifo
test/groebner/gmp/.num_failures-weighted
test/groebner/gmp/Makefile
test/groebner/gmp/Makefile.in
test/hilbert/Makefile
test/hilbert/Makefile.in
test/markov/.num_failures
test/markov/.num_failures-hybrid
test/markov/.num_failures-project-and-lift
test/markov/Makefile
test/markov/Makefile.in
test/markov/gmp/.num_failures
test/markov/gmp/.num_failures-hybrid
test/markov/gmp/.num_failures-project-and-lift
test/markov/gmp/Makefile
test/markov/gmp/Makefile.in
test/markov/maxmin/.num_failures
test/markov/maxmin/Makefile
test/markov/maxmin/Makefile.in
test/markov/saturation/.num_failures
test/markov/saturation/Makefile
test/markov/saturation/Makefile.in
test/minimize/Makefile
test/minimize/Makefile.in
test/normalform/.num_failures
test/normalform/Makefile
test/normalform/Makefile.in
test/output/Makefile
test/output/Makefile.in
test/output/binomials/Makefile
test/output/binomials/Makefile.in
test/output/maple/Makefile
test/output/maple/Makefile.in
test/output/positive/Makefile
test/output/positive/Makefile.in
test/ppi/Makefile
test/ppi/Makefile.in
test/ppi/check-ppi
test/ppi/ppi10.gra.srt
test/ppi/ppi10.gra.srt.chk
test/ppi/ppi10.mat
test/ppi/ppi16.gra.srt
test/ppi/ppi16.gra.srt.chk
test/ppi/ppi16.mat
test/ppi/ppi5.gra.srt
test/ppi/ppi5.gra.srt.chk
test/ppi/ppi5.mat
test/qsolve/.num_failures
test/qsolve/.num_failures-maxcutoff
test/qsolve/.num_failures-maxinter
test/qsolve/Makefile
test/qsolve/Makefile.in
test/qsolve/gmp/.num_failures
test/qsolve/gmp/Makefile
test/qsolve/gmp/Makefile.in
test/rays/Makefile
test/rays/Makefile.in
test/reportfailures
test/subdirsum
test/walk/.num_failures
test/walk/Makefile
test/walk/Makefile.in
test/zbasis/Makefile
test/zbasis/Makefile.in
test/zbasis/checkdir
test/zsolve/.num_failures
test/zsolve/Makefile
test/zsolve/Makefile.in
