m4/Makefile
m4/Makefile.in
src/4ti2/.deps
src/4ti2/.libs
src/4ti2/4ti2API.lo
src/4ti2/4ti2_config.h
src/4ti2/Makefile
src/4ti2/Makefile.in
src/4ti2/lib4ti2common.la
src/4ti2/stamp-h2
src/fiber/Makefile.in
src/groebner/*.lo
src/groebner/.deps
src/groebner/.libs
src/groebner/4ti2gmp
src/groebner/4ti2int32
src/groebner/4ti2int64
src/groebner/Makefile
src/groebner/Makefile.in
src/groebner/Makefile.inc
src/groebner/circuits
src/groebner/groebner
src/groebner/lib4ti2gmp.la
src/groebner/lib4ti2int32.la
src/groebner/lib4ti2int64.la
src/groebner/markov
src/groebner/minimize
src/groebner/normalform
src/groebner/qsolve
src/groebner/rays
src/groebner/walk
src/groebner/zbasis
src/ppi/.deps
src/ppi/.libs
src/ppi/Makefile
src/ppi/Makefile.in
src/ppi/Makefile.inc
src/ppi/ppi
src/util/.deps
src/util/.libs
src/util/Makefile
src/util/Makefile.in
src/util/Makefile.inc
src/util/genmodel
src/util/genmodel_main.c
src/util/gensymm
src/util/gensymm_main.c
src/util/output
src/util/output_main.c
swig/Makefile.in
swig/aclocal.m4
swig/allegrocommonlisp/Makefile.in
swig/autom4te.cache
swig/configure
test/graver/.num_failures
test/graver/Makefile
test/graver/Makefile.in
test/hilbert/Makefile
test/hilbert/Makefile.in
test/markov/maxmin/.num_failures
test/markov/maxmin/Makefile
test/markov/maxmin/Makefile.in
test/qsolve/api/Makefile.in
test/zsolve/.num_failures
test/zsolve/Makefile
test/zsolve/Makefile.in
test/zsolve/api/Makefile.in
